@model WebApplication1.Models.Usuario

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="login-page">

    <!-- Fondo + overlay -->
    <div class="login-bg" style="background-image:url('@Url.Content("~/StaticFiles/images/fondoLogin.png")');"></div>
    <div class="login-overlay"></div>

    <section class="login-wrapper">
        <div class="login-card">

            <div class="login-brand">
                <img src="~/StaticFiles/images/logoPiedras.jpg" alt="Logo" class="login-logo" />
                <h1 class="login-title">Bienvenido</h1>
                <p class="login-subtitle">Inicia sesión para continuar</p>
            </div>

            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "login-form" }))
            {


                <div class="input-group-modern">
                    <span class="input-icon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control input-modern", placeholder = "Correo electrónico" })

                </div>

                <div class="input-group-modern">
                    <span class="input-icon">
                        <i class="fa fa-lock"></i>
                    </span>
                    @Html.TextBoxFor(m => m.Contrasenna, new { @class = "form-control input-modern", placeholder = "Contraseña", type = "password" })
                </div>

                <button type="submit" class="btn login-btn w-100">
                    Iniciar sesión
                </button>
            }

            <div class="login-row">
                <a href="@Url.Action("RecuperarAcceso", "Home")" class="forgot">¿Olvidó su contraseña?</a>

            </div>

            <div class="login-divider">
                <span>o</span>
            </div>

            <div class="login-footer">
                <span>¿No tienes cuenta?</span>
                <a href="@Url.Action("Registro", "Home")" class="signup">Crear cuenta</a>
            </div>



        </div>
    </section>
</div>
