@model WebApplication1.Models.Producto
@Html.HiddenFor(model => model.ProductoID)
@{
    ViewBag.Title = "Agregar Producto";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h2>Actualizar Producto</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nombre)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion)
        @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Descripcion)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Stock)
        @Html.TextBoxFor(model => model.Stock, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Stock)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Precio)
        @Html.TextBoxFor(model => model.Precio, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Precio)
    </div>

    <!-- Dropdown Categoría -->
    <div class="mb-3">
        <label class="form-label">Categoría</label>
        @Html.DropDownListFor(
            x => x.CategoriaID,
            (IEnumerable<SelectListItem>)ViewBag.ListaCategorias,
            "Seleccione una categoría",
            new { @class = "form-control" }
        )
        @Html.ValidationMessageFor(x => x.CategoriaID, "", new { @class = "text-danger" })
    </div>

    <!-- Dropdown Proveedor -->
    <div class="mb-3">
        <label class="form-label">Proveedor</label>
        @Html.DropDownListFor(
            x => x.ProveedorID,
            (IEnumerable<SelectListItem>)ViewBag.ListaProveedores,
            "Seleccione un proveedor",
            new { @class = "form-control" }
        )
        @Html.ValidationMessageFor(x => x.ProveedorID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Imagen)
        <input type="file" name="Imagen" class="form-control" />
        @Html.ValidationMessageFor(model => model.Imagen)
    </div>

    <button type="submit" class="btn btn-success">Guardar Cambios</button>
    <a href="@Url.Action("VerInventario", "Inventario")" class="btn btn-secondary">Cancelar</a>
}